/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_body\.scss}line{font-family:\000031}}
body {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\000031}}
#comment-form {
  width: 480px;
  padding: 9px 12px 12px 0;
  border: solid 1px #E1E8ED;
  border-left: none;
  border-right: none;
  border-top: none;
  background: #19A8E2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000310}}
  #comment-form h3.title {
    float: left;
    color: white;
    margin: 0 0 0 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000315}}
  #comment-form .logout {
    background: url(../images/chat_logout_bg.png) repeat-x;
    border-radius: 8px 8px 8px 8px;
    height: 32px;
    padding: 8px 12px 0;
    width: 237px;
    float: right;
    font-size: 14px;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000324}}
    #comment-form .logout .name {
      color: #4252AB;
      float: left;
      padding-left: 24px;
      background: url(../images/fb-icon-chat.png) no-repeat;
      height: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000331}}
    #comment-form .logout .logout-link {
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000334}}
    #comment-form .logout .logout-link a {
      color: #9A9A9A; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000338}}
  #comment-form .form-item-message {
    float: left;
    width: 395px;
    background: url(../images/chat-field.png) no-repeat 3px 0;
    height: 77px;
    padding: 12px 8px 12px 20px;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000345}}
    #comment-form .form-item-message textarea {
      background: none;
      border: none;
      outline: none;
      height: 53px;
      resize: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000353}}
  #comment-form .image {
    margin-top: 5px;
    width: 68px;
    height: 70px;
    margin-left: 5px;
    float: left;
    border: 4px solid white;
    border-width: 5px 4px;
    border-radius: 8px 8px 8px 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000363}}
  #comment-form .form-actions {
    clear: left;
    float: left;
    margin-left: 12px;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000369}}
  #comment-form .message-limit {
    float: left;
    margin-left: 10px;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000374}}
  #comment-form .time-left {
    float: right;
    margin-top: 10px;
    color: white;
    font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000380}}
  #comment-form .form-actions .form-submit {
    border: solid 1px white;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background: #198EBF; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000390}}
#comment-form.disabled .form-actions .form-submit {
  color: #BBBBBB;
  border-color: #BBBBBB;
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-form\.scss}line{font-family:\0000396}}
#comment-form:after {
  display: table;
  content: "";
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\000031}}
.comments {
  max-height: 500px;
  overflow: scroll; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\000035}}
.comments .comment {
  font-size: 14px;
  display: block;
  padding: 9px 24px 9px 12px;
  border-top: solid 1px #FEFDFF;
  margin: 0;
  background: #DFEDEE;
  border-bottom: #D0DCDC solid 1px;
  border-left: solid 1px #C9CDCE;
  border-right: solid 1px #C9CDCE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000316}}
.comments-wrapper .comments {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000319}}
.comments .comment:after {
  display: table;
  content: "";
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000324}}
.comments .comment.first {
  border-top: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000327}}
.comments .comment .image {
  float: left;
  width: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000332}}
.comments .comment .info,
.comments .comment .actions {
  margin-left: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000335}}
.comments .comment .info p {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000338}}
.comments .comment .info p + p {
  margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000341}}
.comments .comment .author {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000344}}
.comments .comment .time {
  font-size: 0.9em;
  color: gray; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000348}}
.comments .comment .actions {
  margin: 0 0 0 80px;
  padding: 0;
  list-style: none;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000354}}
.comments .comment .actions li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000361}}
.comments .comment .actions li a {
  color: #c8c8c8;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-messages\.scss}line{font-family:\0000366}}
.comments .comment:hover .actions li a,
.comments .comment .actions li a:hover {
  color: #8899a6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_chat-wrapper\.scss}line{font-family:\000031}}
.comments-wrapper {
  background: #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header-candidato\.scss}line{font-family:\000032}}
.block--ds-extras-candidato-header .image {
  width: 98px;
  height: 98px;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header-candidato\.scss}line{font-family:\000037}}
.block--ds-extras-candidato-header .info {
  margin-left: 118px;
  padding-top: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header-candidato\.scss}line{font-family:\0000311}}
.block--ds-extras-candidato-header .title {
  font-weight: bold;
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header-candidato\.scss}line{font-family:\0000314}}
  .block--ds-extras-candidato-header .title .label-inline {
    font-size: 20px;
    color: #62656A;
    display: inline-block;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header-candidato\.scss}line{font-family:\0000320}}
  .block--ds-extras-candidato-header .title h1 {
    font-size: 20px;
    margin: 0;
    color: #0097C8;
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header-candidato\.scss}line{font-family:\0000327}}
.block--ds-extras-candidato-header h2 {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: #666666;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header\.scss}line{font-family:\000031}}
.l-header {
  background: url(../images/header-bg.png) repeat-x;
  border-right: 4px solid #EBEBEB;
  border-bottom: 4px solid #EBEBEB;
  border-left: 4px solid #EBEBEB;
  padding: 11px 36px 17px 36px;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(235, 235, 235, 0.9);
  -moz-box-shadow: 0px 4px 10px 0px rgba(235, 235, 235, 0.9);
  box-shadow: 0px 4px 10px 0px rgba(235, 235, 235, 0.9);
  margin-bottom: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header\.scss}line{font-family:\0000313}}
.l-region--header {
  margin-right: 105px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header\.scss}line{font-family:\0000316}}
.l-branding {
  width: 105px;
  height: 72px;
  margin-top: 16px;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_header\.scss}line{font-family:\0000324}}
.front .l-branding,
.front .l-header {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_listing\.scss}line{font-family:\000032}}
.listing-content .view-content {
  margin-right: -105px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_listing\.scss}line{font-family:\000035}}
.listing-content .view-content:after {
  content: "";
  display: table;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_listing\.scss}line{font-family:\0000310}}
.listing-content .views-row {
  cursor: pointer;
  float: left;
  width: 250px;
  margin-right: 105px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_listing\.scss}line{font-family:\0000315}}
  .listing-content .views-row .label-above {
    font-weight: bold;
    color: #61686E;
    font-size: 0.95em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_listing\.scss}line{font-family:\0000320}}
  .listing-content .views-row h2 {
    color: #0099CC;
    margin: 0;
    font-size: 1.3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_login\.scss}line{font-family:\000031}}
#block-fboauth-login {
  margin-top: 50px;
  height: 290px;
  padding-top: 220px;
  text-align: center;
  background: url(../images/logo-big.png) no-repeat center top;
  margin-bottom: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_login\.scss}line{font-family:\000039}}
a.facebook-action-connect {
  height: 39px;
  width: 203px;
  background: url(../images/facebook-login.png) no-repeat;
  background-size: 203px 79px;
  text-indent: -9999px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_login\.scss}line{font-family:\0000317}}
a.facebook-action-connect:hover {
  background-position: 0 -40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_node-chat\.scss}line{font-family:\000033}}
.page-node.node-type-chat .view-mode-full .group-left {
  width: 470px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_node-chat\.scss}line{font-family:\000036}}
.page-node.node-type-chat .view-mode-full .main-picture {
  margin-bottom: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\000032}}
#block-social-buttons-social-buttons .contextual-links-wrapper {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\000036}}
#block-social-buttons-social-buttons .block__content ul,
#block-social-buttons-social-buttons .block__content ul li {
  margin: 0;
  padding: 0;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\0000314}}
#block-social-buttons-social-buttons .block__content ul li {
  float: right;
  margin-left: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\0000318}}
#block-social-buttons-social-buttons .block__content ul li.last {
  margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\0000321}}
#block-social-buttons-social-buttons .block__content ul:after {
  display: table;
  content: "";
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\0000326}}
#block-social-buttons-social-buttons li.fb {
  width: 78px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\0000329}}
#block-social-buttons-social-buttons li.tw {
  width: 67px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_social-buttons\.scss}line{font-family:\0000332}}
#block-social-buttons-social-buttons li.gp {
  width: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/gobierno\/html\/sites\/local\.cambox\.com\/themes\/camboxt\/sass\/components\/_tabs\.scss}line{font-family:\000031}}
.tabs--primary {
  margin-bottom: 0;
  border-bottom: none; }
